@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --tuliptree: #E6C73C;
  --oldgold: #D3B43B;
  --mineshaft:#2B2B2B;
  --coconutcream:#FBFBE9;
  --white:#fff;
  --black:#000;
  --max-width:1400px;
  --padding: 8px;
  --margin:10px;
  --border-radius:8px;
  --transition:1s;
  --font-size:16px;
}

::selection{
  background-color: var(--tuliptree);
  color: var(--mineshaft);
}

body{
  background:var(--mineshaft) ;
  color: var(--white);
  font-size: var(--font-size);
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
}

header{
  text-align: center;
  border-bottom: solid 1px var(--tuliptree) ;
  padding: var(--padding);
  margin-bottom:var(--margin);
}

section{
  padding: var(--padding);
}

a{
  color: var(--tuliptree);
  text-decoration: none;
}

h1 , h2{
padding: var(--padding);
}

p{
  font-size: 1rem;
  margin: 0 0 var(--margin);
  color: var(--white);
}

p::first-letter{
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--oldgold);
}

ul{
  list-style: none;
}

ul.list >li.item{
  cursor: pointer;
}

li.item:hover a{
  color: var(--mineshaft);
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;  /* centrar el div */
    padding: 0 var(--padding);
}

.card{
    width: 450px;
    border: solid 1px var(--oldgold); /* 3 valores - tipo de borde, tamalñao y color */
    border-radius: var(--border-radius);
    margin: 0 auto;
}

.card__header{
    padding: var(--padding);

}

.card__title{
    text-wrap: wrap;
    word-break: break-all;
}

.card__body{
    padding: var(--padding);
}

.card__img{
    width: 100%;
}

.card__paragraph{
    padding: var(--padding);
}

.button{
    padding: var(--padding);
    background: var(--oldgold);
    color: var(--black);
    border-radius: var(--border-radius);
    font-size: .9rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: solid 0.5px var(--oldgold);
    transition: var(--transition);
}

.button__text{

}

.button__icon{
    font-size: 1.5rem;
}

.button--outline{
    background: var(--black);
    color: var(--oldgold);
    border: solid 1px var(--oldgold);
}

.button:hover{
    background: var(--black);
    color: var(--oldgold);
}

.button--outline:hover{
    background: var(--oldgold);
    color: var(--black);
}

.list{
    text-align: center;
    padding: var(--padding);
}

.item{
    border-bottom: solid 1px var(--tuliptree);
    padding: var(--padding);
    transition: var(--transition);
    font-size: var(--font-size);
}

.item:hover{
    background: var(--tuliptree);
    color: var(--white);
}

ul.list > .item:last-child{
    border-bottom: none;
}

.search{
  display: flex;
  justify-content: end;
}

.search__form{
  display: inline-grid;
  justify-content: end;
  grid-template-columns: auto 40px;
  grid-template-rows: auto;
  gap: 4px;
  border: solid 3px var(--tuliptree);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
  padding: var(--padding);
}

